:host {
    flex: 1;
}

.product {

    padding: 16px;

    .product__details {
        display: flex;
        margin-bottom: 16px;
    }

    img {
        width: 400px;
        height: 300px;
        object-fit: cover;
        margin-right: 32px;
    }
}